
h3{
    font-size: 24px;
    font-weight: 900;
}

#keyframe {
    padding: 10px;
    border: 1px solid;
    border-bottom: nones;
    width: 400px;
    height: auto;
    border-radius: 10px;
    background : linear-gradient(to top,#1f21de,#f82fa2,#e0f836);
    box-shadow: 10px;
}


.keypad {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 900;
    box-shadow: 10px;
}

.operpad{
    width: 95px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
}

.res{
    width: 195px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
}

.value{

    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: right;
    
}

.done{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15px;
    text-align: right;
}

#historyDisplay{
    border: 1px solid;
    border-top: none;
    width: 420px;
    height: 140px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    background: linear-gradient(to bottom,#1f21de,#f82fa2,#e0f836);
    color: #000000;
}